@{
    ViewData["Title"] = "Home";
}

<section class="hero">
    <h2>Welcome to MyWebsite</h2>
    <p>Tempat berbagi cerita, informasi, dan inspirasi</p>
    <button onclick="location.href='@Url.Action("About", "Home")'">Pelajari Lebih Lanjut</button>
</section>
