@{
<<<<<<< HEAD
    ViewData["Title"] = "Home";
}

<section class="hero">
    <h2>Welcome to MyWebsite</h2>
    <p>Tempat berbagi cerita, informasi, dan inspirasi</p>
    <button onclick="location.href='@Url.Action("About", "Home")'">Pelajari Lebih Lanjut</button>
</section>
=======
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
>>>>>>> c93be1074cac6ec7a368a48bf8cf1f4872d649c6
