@* Views/Shared/_LoginLayout.cshtml *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login - MyProject</title>

    <link rel="stylesheet" href="~/adminlte/dist/css/adminlte.min.css" />
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="hold-transition login-page">

        @RenderBody()

    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/adminlte/dist/js/adminlte.min.js"></script>
</body>
</html>
